[init]
  templatedir = ~/.git_template
[push]
  default = current
[color]
  ui = auto
[alias]
  up = !git fetch origin && git rebase origin/master
  lg = !git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --all --abbrev-commit
  me = !git lg --author \"$(git config --get user.name)\"
  today = !git lg --since="12am"
  cleanup = !git branch --merged | grep -v \"\\*\" | xargs -n 1 git branch -d
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
[user]
  name = Kevin Thompson
  email = kevin@kevinthompson.info
[github]
  user = kevinthompson
[branch]
  autosetuprebase = always
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
