[init]
  templatedir = ~/.git_template
[push]
  default = current
[color]
  ui = auto
[alias]
  up = !git fetch origin && git rebase origin/master
  template = !git clone --depth 1 --origin source
  today = !git log --since="12am" --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --all --abbrev-commit
  me = !git today --author \"$(git config --get user.name)\"
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
[user]
  name = Kevin Thompson
  email = kevin@kevinthompson.info
[github]
  user = kevinthompson
[branch]
  autosetuprebase = always
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
