*.DS_Store
*.sw[nop]
.bundle
.certs
.env
.powenv
.zshrc.local
db/*.sqlite3
log/*.log
rerun.txt
tags*
tmp/**/*
!tmp/cache/.keep
zeus.json
.powder
.vim/bundle
.vim/doc
.vim/.netrwhist
source/es6
build
test/reports/**/*
.vim/**/*
!.vim/bindings
!.vim/plugins

