[init]
  templatedir = ~/.git_template
[push]
  default = current
[color]
  ui = auto
[alias]
  up = !git fetch origin && git rebase origin/master
  template = !git clone --depth 1 --origin source
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
[user]
  name = Kevin Thompson
  email = kevin@kevinthompson.info
[github]
  user = kevinthompson
[branch]
  autosetuprebase = always
